.type-input {
    padding: 10px;
}

.type-input input {
    max-width: 700px;
    width: 100%;
    padding: 5px;
    border: 2px solid #ffbd09;
    border-radius: 3px;
    font-size: 16px;
    box-shadow: 0 2px 4px #ccc;
}

.type-input.invalid input {
    color: #ff0000;
}